.food-boxes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.food-box-pizza {
    width: 500px;
    height: 500px;
    background-color: red;
}

.food-box-chicken{
    width: 500px;
    height: 500px;
    background-color: orange;
}